* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#content {
  background: whitesmoke;
  width: 70rem;
  height: 100vh;

}

.photo {
  width: 20rem;
  height: auto;
}